@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* ------ CUSTOM STYLES ------ */

  html {
    background-color: rgb(194, 205, 205);
    color: black;
  }

  .container {
    width: 40%;
    height: auto;

    display: block;
    margin: auto;
    margin-top: 50px;
  }

  .container2 {
    width: 60%;
    height: auto;

    display: block;
    margin: auto;
  }

  .combat-img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    display: block;
    margin: auto;
  }

  .player-stats {
    float: left;
    text-align: left;
  }

  .enemy-stats {
    float: right;
    text-align: right;
  }

  #EnemyStatusText {
    font-weight: bold;
  }

  #EnemyNextMoveText {
    font-weight: bold;
  }

  .combat-log {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;  
    margin-left: auto;
    margin-right: auto;

    width: 100%;

    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 3px;
  }

  .knight-name {
    text-align: right;
  }

  .buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .move-button {
    background-color: rgb(151, 151, 151);
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;

    min-width: 150px;
  }

  .item-button {
    background-color: rgb(212, 212, 212);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
  }

  .btn-subtext {
    font-size: 12px;
    color: blue;
  }
  
  @media (max-width: 800px) {
    .container {
      width: 80%;
    }
    .container2 {
      width: 90%;
    }
    .combat-img {
      height: 200px;
    }
  }